[workspace]
members = [
    "apps/de_mls_desktop_ui",
    "crates/de_mls_gateway",
    "crates/de_mls_ui_protocol",
    "crates/ui_bridge",
    "ds",
    "mls_crypto",
]

[package]
name = "de-mls"
version = "2.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# foundry-contracts.workspace = true
openmls = { version = "0.6.0" }
openmls_basic_credential = "0.3.0"
openmls_rust_crypto = "0.3.0"
openmls_traits = "0.3.0"

futures = "0.3.31"
tower-http = { version = "0.6.6", features = ["cors"] }
tokio = { version = "1.47.1", features = ["macros", "rt-multi-thread", "full"] }
tokio-util = "0.7.13"
alloy = { version = "1.0.37", features = [
    "providers",
    "node-bindings",
    "network",
    "transports",
    "k256",
    "signer-local",
] }
kameo = "0.13.0"

waku-bindings = { git = "https://github.com/waku-org/waku-rust-bindings.git", branch = "rln-fix-deps" }
waku-sys = { git = "https://github.com/waku-org/waku-rust-bindings.git", branch = "rln-fix-deps" }

rand = "0.8.5"
serde_json = "1.0"
serde = { version = "1.0.163", features = ["derive"] }
chrono = "0.4"
sha2 = "0.10.8"

secp256k1 = { version = "0.30.0", features = [
    "rand",
    "std",
    "hashes",
    "global-context",
] }
ecies = "0.2.7"
libsecp256k1 = "0.7.1"

anyhow = "1.0.81"
thiserror = "1.0.39"
uuid = "1.11.0"

log = "0.4.22"

ds = { path = "ds" }
mls_crypto = { path = "mls_crypto" }
prost = "0.13.5"
bytes = "1.10.1"
tower-layer = "0.3.3"
http = "1.3.1"

[build-dependencies]
prost-build = "0.13.5"
